/* RESET */

html {
	box-sizing: border-box;
}
* {
	box-sizing: inherit;
}
ul,
ol {
  padding-left: 2em;
}
img {
  vertical-align: middle;
}
/* height auto only for non SVG images */
img:not([src$=".svg"]) {
  height: auto;
}
blockquote,
figure {
  margin-left: 0;
  margin-right: 0;
}

html {
	margin:0px;
	padding:0px;
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  /* thanks to @guardian, @victorbritopro and @eQRoeil */
  font-size: calc(1em * .625);
}
body {
	
	margin:0px;
	padding:0px;
  font-size: 1.4em;
  color: #000;
  font-family:  verdana,helvetica, sans-serif;
  line-height: 1.5;
    display:inline-block;
    width:100%;
}

/* font-sizing for content */
p,
.p-like,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure {
  margin-top: 0.75em;
  margin-bottom: 0;
  line-height: 1.5;
}

em,
.italic,
address,
cite,
i,
var {
  font-style: italic;
}

b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}

p:first-child,
.p-like:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
.h1-like:first-child,
h2:first-child,
.h2-like:first-child,
h3:first-child,
.h3-like:first-child,
h4:first-child,
.h4-like:first-child,
h5:first-child,
.h5-like:first-child,
h6:first-child,
.h6-like:first-child {
  margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li .p-like,
li ul,
li ol {
  margin-top: 0;
  margin-bottom: 0;
}

/* max values */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video,
svg {
  max-width: 100%;
}

/* blocks that must contain floats */
.clearfix::after,
.line::after {
  content: "";
  display: table;
  clear: both;
  border-collapse: collapse;
}

.ir{
	text-indent:-9999px;
}


/*************************************************/
/********************* STRUCTURE GLOBAL - TOUS ***************/
/*************************************************/

.row{
    width:940px;
    margin:auto;


}

.main-content{
    /*top:-11px;*/
    position: relative;
    overflow: hidden;
}

.rightNG{

    float:right;
}



/* fin des elements de construction */

/*************************************************/
/*********************HEADER - NICO***************/
/*************************************************/

.header-main{

    color: #ffffff;
    font-family: "Open Sans";


}

.header-main a{
    text-decoration: none;
    color: #ffffff;
}

.header-main .header-top-contener a{
    text-decoration: none;
    color: #c8d8d7;
}

.header-main ul, .header-main li, .header-main p{

    display: inline;

}

.header-top-contener{
    
    background: #576f6f;
    font-size:12px;
    color:#c8d8d7;
    
}

.top-header {
    padding: 14px 14px 16px 14px;

}


.top-header ul, .bottom-header ul{
    margin:0px;
    padding:0px;
}

.top-header li{
    padding: 0px 21px 0px 0px;
}


.top-header li:first-child{
    padding: 0px 25px 0px 0px;
}

.top-header li:last-child{
    padding: 0px 0px 0px 0px;
}

.header-bottom-contener{

    background: #f28858;
    border-bottom:3px solid #b56642;
}

.bottom-header{
    padding: 17px 14px 16px 14px;

}
.bottom-header li{
    padding:0px 40px 0px 0px;
}

.bottom-header li:last-child{
    padding:0px 0px 0px 0px;
}

.bottom-header img{
    margin:0px 100px 0px 0px;
}

.bottom-header li a{
    font-weight:bold;
}

.active{
    width: 70px;
    background-color: #cd8757;
    border-radius: 5px ;
    /*margin: 30px auto;*/
    margin:13px 0px 14px 0px;
    padding: 8px 14px 9px 14px;
    box-shadow: 0 3px #b56642;
}

/*************************************************/
/*********************LOGIN TAB***************/
/*************************************************/
#special{
    position:relative;
}
.login-tab{
    display:none;
    width: 300px;
    height:254px;
    position: absolute;
    z-index:100;
    background-color: #f5f5f5 ;
    right:0;
    border-bottom: 3px solid #e0e0e0;

    /*margin-top: -12px;*/
}

.login-title{
    width:100%;
    background-color: #576f6f;
    padding-top: 12px;
    text-align: center;
    font-family: "Open Sans";
    font-weight: bold;
    height:47px;
    color: white;
}

.login-content{
    margin-left: 29px;
}

.login-form{
    display:inline-flex;
    margin-top: 10px;
}

.login-form:first-child{
    display:inline-flex;
    margin-top: 20px;
}


.icon-container{
    background-color: #576f6f;
    width: 45px;
    height: 45px;
    padding-top: 8px;
    text-align: center;
    border-radius: 3px 0px 0px 3px;
}

.login-input{
    height: 45px;
    width: 195px;
    font-size: 14px;
    color: #e0e0e0;
    font-family: "Open Sans";
    font-weight: bold;
    padding-left: 15px;
    border: none;
    border-radius: 0px 3px 3px 0px;
}

.login-button{
    width:240px !important;
    margin-top:15px;
    height: 40px;
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
    padding-top: 10px !important;
    font-size: 15px;
}

.login-input::-webkit-input-placeholder { color:#e0e0e0; }
.login-input::-moz-placeholder { color:#e0e0e0; } /* firefox 19+ */
.login-input:-ms-input-placeholder { color:#e0e0e0; } /* ie */

.login-input.spe::-webkit-input-placeholder {
    color:#c8d8d7;
    letter-spacing:5px;
    font-size:20px;
    line-height: 18px;
}

.login-input.spe::-moz-placeholder {
    color:#c8d8d7;
    letter-spacing:5px;
    font-size:20px;
    line-height: 45px;
} /* firefox 19+ */

.login-input.spe:-ms-input-placeholder {
    color:#c8d8d7;
    letter-spacing:5px;
    font-size:20px;
    line-height: 45px;
} /* ie */

.login-input.spe:-moz-placeholder {
    color:#c8d8d7;
    letter-spacing:5px;
    font-size:20px;
    line-height: 45px;
}



/*************************************************/
/*********************SLIDER ALEX WIP***************/
/*************************************************/

.slide{

    background-color: #c8d8d7 ;

}
.content_slider{
    margin: auto;
    background:url("../img/img-slide-device.png") no-repeat;
    /*height:500px;*/

}


.tri_slide{
    /*correction bloc*/
    position: relative;
    display: inline-block;
    top: 94px; /*ajout nico*/
    width: 940px;
    height: 80px;
    border-left: 470px solid transparent;
    border-right: 470px solid transparent;
    border-top: 90px solid #c8d8d7;

}

.calltoaction-spe, .content_slider .buttons{
    width: 180px;
    background-color: #77A1A0;
    border-radius: 5px ;
   /*margin: 30px auto;*/
    padding: 8px;
    box-shadow: 0 4px #b56642;
    text-align: center;
}

.content_slider .back.buttons, .content_slider .next.buttons{
    width:50px;
    z-index: 1;
}

.calltoaction-spe a, .content_slider .buttons a{
    color: #fff;
    text-decoration: none;
    font-family:"Open Sans";
    font-weight:bold;
    text-transform: uppercase;
    font-size:18px;

}

.content_slider .buttons span{
    color: white;
    font-size: 40px;
    line-height: 20px;
    margin-left: -15px;
}

.content_slider .buttons{

    margin-top: 205px;

}


.inverse{
    background-color: #f28858 !important;
}

/*.content > div > h3{
    position: absolute;

    background-color: #8c9796;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    color: white;
    font-family:"Open Sans";

}*/

.content > div > ul > li{

}


.content > div > ul > li:before{
    content: "> ";
}

.text{
    width: 500px;
   /* height:360px;*/
    padding-top:75px;
    margin-left: 14px;

}

.text h3{
    background-color: #8c9796;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    color: white;
    font-family:"Open Sans";
    font-size:23px;
    box-shadow: 0px 3px #b6bfb6;
}

.text ul{
    padding:0px;
    margin:40px 0px 30px 0px;
}

.text li{
    display: block;
    position:relative;
    width: auto;
    list-style: none;
   /* margin-top: 10px;*/
    margin:20px 0px;

    text-transform: uppercase;

    color: white;
    font-family:"Open Sans";
    font-size:16px;

}

.text .special-al{
    background-color: #8c9796;
    padding: 6px 5px 6px 5px;
    font-weight:bold;
    box-shadow: 2px 3px 2px #a0a9a5;

}
.special-al:before{
    display: inline-block;
    width:7px;
    height:12px;
    content: '';
    background:url("../img/picto_fleche.png") no-repeat;
    margin-left: 7px;
    margin-right:7px;
}
/*************************************************/
/*********************NEWS - NICO WORK IN PROGRESS***************/
/*************************************************/

.newsNG h3,.newsNG h4 {
    font-size:22px;
    color: #f28858;
    text-transform: uppercase;
    font-family:"Open Sans";
    font-weight:bold;
}

.newsNG{
    padding-top:105px;
    padding-bottom:20px;

}

.news-articles{
    width: 298px;
    height: 506px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    display: inline-block;
    margin-right: 18px;
    overflow: hidden;
    box-shadow: 0 4px #e0e0e0;
}

.news-articles h4{

    font-size:18px;
    text-align: center;
    width: 220px;
    margin: auto;

}

.news-middle{

    padding: 20px 20px 18px 20px;
    text-align: center;
}

.news-articles p, .news-articles a{
    font-family: "Open Sans";
    font-size:12px;
    color:#7f8c8c;
}

.news-articles a{
    color: #77a1a0;
    font-family: Open Sans;
    font-style: italic;
    font-weight: 600;
    text-decoration: none;
}

.news-articles .a_special{
    font-family: open sans;
    font-size: 11px;
    font-weight: 300;
    float: right;
}

.texte-centre{
    margin-top:15px;
    margin-bottom:15px;
    font-weight:normal;
}

.featured_wheel{
    position: relative;
    left:120px;
    margin-top:-28px;

}

.news-articles:last-child{
    margin-right:0px;
}

.news-bottom{

    border-top: 1px solid #e1e1e1;
    margin-top: 15px;
}

.news-articles p:last-child{
    margin-top: 12px;
    text-align: left;
    color:#9a9a9a;
    font-size:11px;
    font-style: italic;
}


/* DEBUT DE MAIN - ILDIKO */

div.block_blanc{
    margin: 85px auto 0; /*margin: 0 auto;*/
    background-color: #FFFFFF;
    border-radius: 40px;
}

/* FEATURED */

.featured{
    margin: 137px 0 70px ;
}
.featured > div{
    float: left;
    width: 300px;
    margin-left: 20px;
    text-align: center;
}
.featured > div:first-child{
    margin-left: 0;
}
.featured h3{
    font-family: "Open Sans";
    color: #F28858;
    font-size: 22px;
    font-weight: bold;
    margin: 25px 0;
}
.featured p{
    color: #687170;
    font-weight: normal;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 1.7;
    padding: 0 13px;
}
.calltoaction{
    width: 199px;
    height: 54px;
    background-color: #77A1A0;
    border-radius: 5px ;
    margin: 40px auto;
    padding: 15px 25px;
    box-shadow: 0 4px #576F6F;

}

.featured p.calltoaction{
    font-weight:bold;
}

p.calltoaction{
    font-size: 18px;
    padding: 15px 0;
}
.calltoaction a{
    color: #fff;
    text-decoration: none;
}

/*  SUPPORT  */
.support{
    height: 100px;
    background-color: #f5f5f5;
    padding: 15px 27px 24px 27px;
    border-radius: 5px;
}
.support h2{
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: bold;
    color: #7f8c8c;
    margin: 0;
}
.support p{
    display:inline-block;
    color: #687170;
    line-height: 12px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.support p a{
    padding: 10px 33px 12px 36px;
}

.support > div{
    float: left;
}
.support > div:first-child{
    margin-right: 45px;
}

.alternate{
    width: 140px;
    height: 37px;
    background-color: #f28858;
    box-shadow: 0 4px #b56642;
}
p.alternate{
    margin-top: 12px;
    margin-left: 15px;
    font-weight: bold;
}

/* LIST ET PERFORMANCE */
.performance{
    margin-top: 75px;
    font-family: "Open Sans";
}
.performance h1{
    color: #c8d8d7;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
}
.performance h3{
    color : #f28858;
    font-size: 22px;
    font-weight: bold;
}
.performance p{
    color: #687170;
    font-size: 14px;
    font-weight: normal;
    padding-left: 10px;
}

.performance p:before{
    display: inline-block;
    content: "";
    width:11px;
    height: 9px;
    margin-right:3px;
    background: url("../img/coche.png") no-repeat 0px 0px;
}

.performance > div{
    float: left;
    width: 400px;
    height: 240px;
    margin-bottom: 50px;
    padding: 0px 14px;

}
.performance > div:first-child{
    margin-right: 100px;
}

.performance > div:last-of-type{
    padding-left:0px;
}

.performance span{
    font-family: "FontAwesome";
    color: #77a1a0;
    padding-right: 3px;
}

.barre {
    width: 427px;
    background: #f5f5f5;
    position: relative;
    height: 30px;
    margin-bottom: 10px;
}

.barre:after {
    content: "";
    position: absolute;
    background: #c8d8d7;
    left: 0;
    top: 0;
    bottom: 0;
}

.barre[data-length="85"]:after { width: 85% }
.barre[data-length="95"]:after { width: 95% }
.barre[data-length="92"]:after { width: 92% }
.barre[data-length="82"]:after { width: 82% }

progress{
    border: none;
    width: 427px;
    height: 30px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: #f5f5f5;
}
progress::-moz-progress-bar{
    background: #c8d8d7;
}
progress::-webkit-progress-bar{
    background: #c8d8d7;
}

/* FIN MAIN */

.avis_client{
    background-color: #f28858; /*darkorange Modif. par Nico.*/
    width: 100%;
    height: 400px;
    margin-top: -50px;
    z-index:-1;
    position:relative;



}

.button-alternate{
    position:absolute;
    width:40px;
    height:40px;
    border-radius:5px;
    background-color:#77a1a0;
    margin-top: 155px;
    border-bottom:3px solid #576f6f;

}

.button-alternate img{
    padding-left: 15px;
    padding-top: 8px;
}

.buttons{
    position:absolute;
    width:50px;
    height:50px;
    border-radius:5px;
    background-color:grey;
    margin-top: 147px;

}

.buttons > span{
    color: white;
    font-size: 40px;
    line-height: 45px;
    margin-left: 8px;

}
.peoples{
    /*padding-left: 10%;
    padding-right: 10%;
    width:100%;
    position: absolute;
    margin-top: 90px;
    display:inline-flex !important;*/
    padding-top: 85px;

}
.people{
    display: inline-block;
    text-align: center;
    width:220px;
    height: 200px;
    color: white;
    margin-right:15px;
   /* margin-left:50px;
    margin-right: 50px;*/

}

.people:last-child{
    margin-right:0px;
}

.name{
    text-transform: uppercase;
    font-family:"Open Sans";
    font-weight:bold;
    font-size:16px;
}

.subtitle{
    font-style:italic;
    font-family: "Open Sans";
    font-size:14px;

}
.back{
    left: -5px;

}

.next{
    right:-5px;
}





#blanc2{
    margin-top: -95px;
}

.news{
    height:400px;
}


/* FOOTER */

.footer {
	background-color: #f28858; /*darkorange Modif. par Nico.*/
	width: 100%;
	height: 400px;
	margin-top: 200px;
	position:relative;
}

.footer ul {
	list-style-type: none; 
	margin-left: -29px;
}

.footer h2 {
	font-size: 20px;
 	font-family: "Open Sans";
	font-weight: bold;
	color: #fff;
}

.pre-footer {

}

.triangle {

    /*correction bloc*/
    position: relative;
    display: inline-block;
    margin-top: -75px;
    width: 940px;
    top: -15px;
    height: 0;
    border-left: 470px solid transparent;
    border-right: 470px solid transparent;
    border-bottom: 90px solid #f28858;
    /***********************************************/
    /*
    display: inline-block;
    margin-top:-83px;
	width: 0; 
	height: 0; 
	border-left: 660px solid transparent; 
	border-right: 660px solid transparent; 
	border-bottom: 84px solid #f28858;*/
}

.footer .about {
	float: left;
	margin-top:30px;
	margin-left:18px;
	width: 400px; 
	height: 172px; 
}

.about p {
	font-size: 15px;
 	font-family: "Open Sans";
	font-weight: normal;
	color: #fff;
}

.linksfooter li {
	display: inline-block;
	margin-top: 15px;
	font-size: 13px;
 	font-family: "Open Sans";
	font-weight: bold;
	color: #f1c4af;
}

.footer .products {
	float: left;
	margin-top:30px;
	margin-left:100px;
	width: 392px; 

}

.partie1, .partie2  {
	display: block;
	width: 180px; 
	float: left;
	font-size: 14px;
 	font-family: "Open Sans";
	font-weight: bold;
	color: #f1c4af;
}

.partie1 li, .partie2 li  {
	line-height: 2;
}

.mail {
	float: right;
}

.footer input[type=button] {
	border: 1px solid #77a1a0;
	background-color: #77a1a0;
	border-radius: 6%;
	box-shadow: 0px 4px 0px #576f6f;
	font-size: 16px;
	font-family: "Open Sans";
	font-weight: bold;
	color: #fff;
	padding: 7px 38px;
	margin: 35px 2px;
	cursor: pointer;
}

.footer input[type=text] {
   	width: 250px;
	border: 3px solid #fa6734;
   	border-radius: 4px;
   	padding: 12px 20px;
   	color: #c8d8d7;
   	text-align:left;
}

.end-footer {
	position: absolute;
	width: 100%;	
	background: #b56642;
	float: left;
	margin-top: 325px;
	color: black;
	text-decoration: none;
}

.end-footer ol{
    margin-top: 0px;
    float: right;
    padding-top: 15px;
}
/*
.text-end-footer {
	display:inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}
*/
.end-footer p {
	width: 500px;
	padding: 15px;
	float: left;
	color: black;
	text-decoration: none;
	font-size: 16px;
	font-family: "Open Sans";
	font-weight: bold;
	color: #fff;

}

.end-footer li {
	float: right;
	display: inline-block;
    padding-left:3px;
}

.end-footer li:last-child{
    padding-left:0px;
}

.end-footer a {
	display: inline-block;
	width: 20px;
    height:20px;
	text-indent: -9999px;

}

.end-footer .twitter {
    background: url('../img/social-sprint.png') 0px 0px no-repeat;
}

.end-footer .facebook {

    background: url('../img/social-sprint.png') -23px 0px no-repeat;
}

.end-footer .googleplus {

    background: url('../img/social-sprint.png') -46px 0px no-repeat;
}

.end-footer .rss {

    background: url('../img/social-sprint.png') -68px 0px no-repeat;
}

.end-footer .linkedin {
    background: url('../img/social-sprint.png') -90px 0px no-repeat;
}



