/* RESET */

html {
	box-sizing: border-box;
}
* {
	box-sizing: inherit;
}
ul,
ol {
  padding-left: 2em;
}
img {
  vertical-align: middle;
}
/* height auto only for non SVG images */
img:not([src$=".svg"]) {
  height: auto;
}
blockquote,
figure {
  margin-left: 0;
  margin-right: 0;
}

html {
	background-image:url('../img/fond-carreau.jpg');
	margin:0px;
	padding:0px;
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  /* thanks to @guardian, @victorbritopro and @eQRoeil */
  font-size: calc(1em * .625);
}
body {
	
	margin:0px;
	padding:0px;
  font-size: 1.4em;
  color: #000;
  font-family:  verdana,helvetica, sans-serif;
  line-height: 1.5;
    display:inline-block;
    width:100%;
}

/* font-sizing for content */
p,
.p-like,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure {
  margin-top: 0.75em;
  margin-bottom: 0;
  line-height: 1.5;
}

em,
.italic,
address,
cite,
i,
var {
  font-style: italic;
}

b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}

p:first-child,
.p-like:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
.h1-like:first-child,
h2:first-child,
.h2-like:first-child,
h3:first-child,
.h3-like:first-child,
h4:first-child,
.h4-like:first-child,
h5:first-child,
.h5-like:first-child,
h6:first-child,
.h6-like:first-child {
  margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li .p-like,
li ul,
li ol {
  margin-top: 0;
  margin-bottom: 0;
}

/* max values */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video,
svg {
  max-width: 100%;
}

/* blocks that must contain floats */
.clearfix::after,
.line::after {
  content: "";
  display: table;
  clear: both;
  border-collapse: collapse;
}

.ir{
	text-indent:-9999px;
}


/*************************************************/
/********************* STRUCTURE GLOBAL - TOUS ***************/
/*************************************************/

.row{
    width:940px;
    margin:auto;

}

.rightNG{

    float:right;
}



/* fin des elements de construction */

/*************************************************/
/*********************HEADER - NICO***************/
/*************************************************/

.header-main{

    color: #ffffff;
    font-family: "Open Sans";


}

.header-main a{
    text-decoration: none;
    color: #ffffff;
}

.header-main .header-top-contener a{
    text-decoration: none;
    color: #c8d8d7;
}

.header-main ul, .header-main li, .header-main p{

    display: inline;

}

.header-top-contener{
    
    background: #576f6f;
    font-size:12px;
    color:#c8d8d7;
    
}

.top-header {
    padding: 14px 14px 16px 14px;

}


.top-header ul, .bottom-header ul{
    margin:0px;
    padding:0px;
}

.top-header li{
    padding: 0px 21px 0px 0px;
}


.top-header li:first-child{
    padding: 0px 25px 0px 0px;
}

.top-header li:last-child{
    padding: 0px 0px 0px 0px;
}

.header-bottom-contener{

    background: #f28858;
    border-bottom:3px solid #b56642;
}

.bottom-header{
    padding: 17px 14px 16px 14px;

}
.bottom-header li{
    padding:0px 40px 0px 0px;
}

.bottom-header li:last-child{
    padding:0px 0px 0px 0px;
}

.bottom-header img{
    margin:0px 100px 0px 0px;
}

.bottom-header li a{
    font-weight:bold;
}

.active{
    width: 70px;
    background-color: #cd8757;
    border-radius: 5px ;
    /*margin: 30px auto;*/
    margin:13px 0px 14px 0px;
    padding: 8px 14px 9px 14px;
    box-shadow: 0 3px #b56642;
}

/*************************************************/
/*********************NEWS - NICO WORK IN PROGRESS***************/
/*************************************************/

.newsNG h3{
    font-size:22px;
    color: #f28858;
    text-transform: uppercase;
    font-family:"Open Sans";
    font-weight:bold;
}

.newsNG{
    padding-top:105px;

}

.news-articles{
    width: 298px;
    height: 506px;
    border: 1px solid #e0e0e0;
    padding: 0px 20px 18px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 18px;
}

.news-articles:last-child{
    margin-right:0px;
}

/* DEBUT DE MAIN - ILDIKO */
div.block_blanc{
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 40px;

}

/* FEATURED */

.featured{
    padding: 50px 0;
}
div.featured > div{
    float: left;
    width: 275px;
    text-align: center;
}
.featured h3{
    color: #F28858;
}
.featured p{
    color: #687170;
}
.calltoaction{
    width: 180px;
    background-color: #77A1A0;
    border-radius: 5px ;
    margin: 30px auto;
    padding: 15px 25px;
    box-shadow: 0 4px #576F6F;
}
.calltoaction a{
    color: #fff;
    text-decoration: none;
}

/* SUPPORT  */

/* LIST ET PERFORMANCE */

/* FIN MAIN */


.avis_client{
    background-color: #f28858; /*darkorange Modif. par Nico.*/
    width: 100%;
    height: 400px;
    margin-top: -70px;
    z-index:-1;
    position:relative;



}

.buttons{
    position:absolute;
    width:50px;
    height:50px;
    border-radius:5px;
    background-color:grey;
    margin-top: 160px;

}

.buttons > span{
    color: white;
    font-size: 40px;
    line-height: 45px;
    margin-left: 8px;

}
.peoples{
    padding-left: 10%;
    padding-right: 10%;
    width:100%;
    position: absolute;
    margin-top: 90px;
    display:inline-flex !important;

}
.people{
    text-align: center;
    width:250px;
    height: 200px;
    color: white;
    margin-left:50px;
    margin-right: 50px;

}

.name{
    text-transform: uppercase;
}

.subtitle{
    font-style:italic;
}
#back{
    left: -5px;

}

#next{
    right:-5px;
}





#blanc2{
    margin-top: -70px;
}

.news{
    height:400px;
}





